@model IEnumerable<OdeToFood.Data.Models.Restaurant>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <div>
        There are @Model.Count() restaurants in the db. 
    </div>
</div>


