@model IEnumerable<OdeToFood.Data.Entities.Restaurant>
@{
    ViewBag.Title = "Home Page";
}

    <table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Cuisine</th>
        </tr>

        @foreach (var restaurant in Model)
        {
            <tr>
                <td>@restaurant.Id</td>
                <td>@restaurant.Name</td>
                <td>@restaurant.Cuisine</td>
            </tr>
        }

    </table>